html, body, #app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 150px;
  height: 60px;
  background: #f00;
  margin: 5px;
}

.red {
  order: 1;
}

.green {
  order: 2;
  background: #0f0f ;
}

.blue {
  order: 0;
  background: #00f;
}